node_modules/
.env
.env.*
!.env.example
dist/
build/
npm-debug.log*
.kubeconfig-*

# Ignore ArgoCD secret to prevent leaking password
argocd-notifications-secret.yaml

# Terraform ignores
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
!**/terraform.tfvars